[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-takeoff
Exec=/usr/bin/invoker -s --type=silica-qt5 harbour-takeoff
Name=Takeoff
