[Unit]
Description=Takeoff autostart service
Requires=lipstick.service
After=ofono.service lipstick.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/harbour-takeoff-startup.sh

[Install]
WantedBy=user-session.target
