[Unit]
Description=Takeoff autostart service
Requires=lipstick.service
After=lipstick.service

[Service]
Type=oneshot
ExecStart=/home/nemo/.config/harbour-takeoff/takeoff.sh

[Install]
WantedBy=post-user-session.target
