[Unit]
Description=Takeoff autostart service
Requires=lipstick.service
After=ofono.service lipstick.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/home/nemo/.config/harbour-takeoff/takeoff.sh

[Install]
WantedBy=post-user-session.target
